---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col md:flex-row justify-center py-10 items-center gap-10 mt-auto">
  <p class="text-lg dark:text-white">
    &copy; {new Date().getFullYear()} Angel Hodar
  </p>
  <div class="flex flex-row gap-8">
    <a
      href="mailto:angelhodar76@gmail.com"
      aria-label="contact-email"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="logos:google-gmail" class="w-10 h-10" /></a
    >
    <a
      href="https://github.com/angelhodar"
      target="_blank"
      aria-label="my-github"
      rel="noopener noreferrer"
    >
      <Icon name="devicon:github" class="w-10 h-10 dark:bg-white dark:rounded-lg" />
    </a>
    <a
      href="https://www.linkedin.com/in/angel-rodriguez-hodar-541bb8199/"
      aria-label="my-linkedin"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="devicon:linkedin" class="w-10 h-10" /></a
    >
    <a
      href="https://twitter.com/angelhodar"
      target="_blank"
      aria-label="my-twitter"
      rel="noopener noreferrer"
    >
      <Icon name="logos:twitter" class="w-10 h-10" /></a
    >
  </div>
</div>
