---
import { Icon } from "astro-icon";
import Card from "./Card.astro";

const { title, href, description } = Astro.props;
---

<Card>
    <div class="flex flex-row space-x-3 items-center">
        <h2 class="text-2xl font-semibold">{title}</h2>
        <a
            href={href}
            target="_blank"
            aria-label={title + "project-link"}
            rel="noopener noreferrer"
        >
            <Icon name="github" class="w-6 h-6 fill-black dark:fill-white" />
        </a>
    </div>
    <p class="text-lg">{description}</p>
</Card>
