---
import Card from "./Card.astro"

const { name } = Astro.props;
---

<Card class="space-y-6 p-5">
    <h2 class="text-xl">{name}</h2>
    <div class="flex flex-wrap justify-center md:justify-start items-center gap-8"><slot /></div>
</Card>
