<div
    class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-2xl
  prose-h2:font-bold prose-h2:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl max-w-3xl mx-auto text-start before:prose-p:content-none after:prose-p:content-none"
>
    <slot />
</div>
